    <!-- About Section -->
    <section id="about" class="container content-section text-center">
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Android App Clinic 2015</h1>
                </div>
            </div>
        <div class="row">
                <div class="col-lg-12 ">
                    <i class="fa fa-android fa-5x"></i>

                    
                    <p><br>Computer Science Society of University of Colombo in collaboration with Google Developer Group Sri Lanka pompously adduces you the <strong>GDG Android App Clinic 2015</strong>. GDG Android App Clinic is an annual event which lay before for the undergraduates all over the country the opportunity of painting the innovativeness on the canvas of Android Games encouraged by the reviews, experiences and supportiveness of the industry experts on android platforms.  Our effort is to open the nation’s doors for a newer and an exciting tomorrow of ICT.
                    </p>
                    <p>As the initial move towards that door, Android App Clinic 2015 offers you the opportunity to get your apps recognized. This year, we conduct the Android App Clinic in the track of Android One Gaming Apps. This is an open event where you can develop and unleash you Android One Gaming Apps and participate in our workshops to fine tune your Apps. Among all the submissions, 10 best Apps will be selected for the final round and one deluxe App will win the competition and the winners to the inconceivable prizes will be proclaimed on the <strong>19th September</strong> at the <strong>Dialog Head Office Auditorium.</strong></p>
                </div>
            </div>
        </div>
    </section>