    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">

        <div class="row">
            <div class="col-lg-12 ">
                 <h1 class="page-header">Contact US</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-2">
                <p><span style="font-weight: bold;">Ashan Maduranga</span>
                <br> 0776773418
                <br> ashan.me@gmail.com
            </p>

            </div>
            <div class="col-xs-12 col-md-4">
                <p><span style="font-weight: bold;">Maneesha Muthuweera</span>
                <br> 0766982506
                <br> maneeshadmuthuweera@gmail.com
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-2">
                <p><span style="font-weight: bold;">Thisara Salgado</span>
                <br> 0776256962
                <br> mthisarays@gmail.com
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p><span style="font-weight: bold;">Chamath Silva</span>
                <br> 0773174017
                <br> mbckchamathsilva@gmail.com
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
                 <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                
                <img src = "img/androids.gif" alt ="image" width="auto" height="100" float="left">
                
               

            
            </div>
        </div>
    </section>