    <!-- Intro Header -->
    <header id = "header" class="intro">

        <div class="intro-body">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-10 col-md-offset-1">

                        <!--<h1 class="brand-heading">GDG App Clinic</h1>
                        <p class="intro-text">Await GDG App Clinic 2015 in a larger scale than ever before!<br>It’s your turn to step on the pedestal</p>
                         <h2>are-you-ready</h2> -->
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </header>