    <!-- Download Section -->
    <section id="registration" class="content-section text-center">
        <div class="registration-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Registration will open soon..!</h2>
                    <p>keep in touch with</p>
                    <a href="https://www.facebook.com/events/478177039030895/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">facebook</span></a>
                </div>
            </div>
        </div>
    </section>