    <!-- Download Section -->
    <section id="registration" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Registration</h1>
                </div>
            </div>
             <div class="row">
                <div class="col-xs-4  col-xs-offset-2 col-md-2 col-md-offset-2">
                    <h4><div id="countdown1"></div></h4>
                </div>
                <div class="col-xs-4 col-md-2 ">
                    <h4><div id="countdown2"></div></h4>
                </div>
                 <div class="col-xs-4 col-xs-offset-2 col-md-2 col-md-offset-0">
                    <h4><div id="countdown3"></div></h4>
                </div>
                <div class="col-xs-4 col-md-2 ">
                    <h4><div id="countdown4"></div></h4>
                </div>
            </div>
        </div>

            <div class="container-fluid">
                <img src = "img/registration.jpg"  class="img-responsive" alt ="image" width=100%    >
            </div>
    </section>