    <!-- Download Section -->
    <section id="workshop" class="content-section text-center">
        <div class="workshop-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Workshops</h2>
                    <p>here will be four workshops organized prior to the App Clinic in order to fine tune the apps that have been designed by the competitors. These workshops are held weekly and the sessions will discuss topics on Virtual Reality (VR), Augmented Reality (AR), using cardboard plugin to develop games for Google Cardboard, integrating Admob and Google Analytics and much more core and enliven fields to ameliorate the discernment of the competitors. Await further details!</p>
                   
                </div>
            </div>
        </div>
    </section>